h3{
  text-decoration-style: solid;
  font-weight: bold;
}
.dialog-footer {
  border-top: 0;
  background: white;
  padding: 1rem;
  text-align: right;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right:    0;
  bottom:   0;
}
