<h2>Add new Book</h2>
<br>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="author">
    <label for="float-input">Author</label>
</span>
<br> 
<br> 
<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="title">
    <label for="float-input">Title</label>
</span>
<br> 
<br> 

<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="year" (input)="inputValidator($event)">
    <label for="float-input">Publication Year</label>
</span>
<p><small> *between 1900 and 2023</small></p>
<br> 
<br> 

<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="isbn">
    <label for="float-input">ISBN</label>
</span>
<br> 
<br> 

<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="link">
    <label for="float-input">Content Link</label>
</span>
<h5>Domain</h5>
<p-dropdown [options]="domains!" [(ngModel)]="selectedDomain" placeholder="Select domain"
    [showClear]="true"></p-dropdown>
<h5>Publisher</h5>
<p-dropdown [options]="publishers!" [(ngModel)]="selectedPublisher" placeholder="Select publisher" 
    [showClear]="true"></p-dropdown>
<h5>Category</h5>
<p-multiSelect [options]="categories!" [(ngModel)]="selectedCategory" defaultLabel="Select a Category" display="chip"></p-multiSelect>
<br> 
<br> 
<br> 
<span class="p-float-label">
    <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="summary" style = "color: black"></textarea>
    <label for="float-input">Summary</label>
</span>
<br />
<button pButton pRipple type="button" label="Add Book" styleClass="p-button-sm"
    (click)="addBook(author!,title!,year!,isbn!, selectedDomain!, selectedPublisher!,selectedCategory!,summary!,link!)"></button>
<p style="color: red;">{{error!=undefined?error:''}}</p>
<p style="color: green;">{{success!=undefined?success:''}}</p>
<br>
<br>